{% extends 'base.html' %}
{% load static %}
{% block primary %}
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="well">
                    <p><a href="/Profile/{{ UserInfo.UserId }}/GotoProfile/">My Profile</a></p>
                    <img src="{% static 'Image/member-1.jpg' %}" class="img-circle" height="65" width="65" alt="Avatar">
                </div>
                <div class="well">
                    <p><a href="#">Interests</a></p>
                    <p>
                        <span class="label label-default">News</span>
                        <span class="label label-primary">W3Schools</span>
                        <span class="label label-success">Labels</span>
                        <span class="label label-info">Football</span>
                        <span class="label label-warning">Gaming</span>
                        <span class="label label-danger">Friends</span>
                    </p>
                </div>
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
                    <p><strong>Ey!</strong></p>
                    People are looking at your profile. Find out who.
                </div>
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
                <p><a href="#">Link</a></p>
            </div>
            <div class="col-sm-7">

                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#PostModal"
                                style="margin-bottom: 25px;float: left;">
                            Your Post
                        </button>
                    </div>
                </div>
                <div class="modal fade" id="PostModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><strong>Submit Your Post</strong></h4>
                            </div>
                            <form action="/UserPost/{{ UserInfo.UserId }}" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="YourPostTopic" style="float: left;font-size: 18px">Topic : </label>
                                        <textarea class="form-control" rows="1" id="YourPostTopic"
                                                  name="UserPostTopic"></textarea>
                                        <label for="YourPostBody" style="float: left;font-size: 18px">Post : </label>
                                        <textarea class="form-control" rows="5" id="YourPostBody"
                                                  name="UserPostBody"></textarea>
                                        <label class="radio-inline"><input type="radio" name="PostType" value="private">Private
                                            Post</label>
                                        <label class="radio-inline"><input type="radio" name="PostType" value="public">Public
                                            Post</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">POST</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% for PostEnter in PostInfo %}
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well">
                                <p>{{ PostEnter.name }} {{ PostEnter.family }}</p>
                                <p>Type:{{ PostEnter.type }}</p>
                                <img src="{% static 'Image/member-1.jpg' %}" class="img-circle" height="55" width="55"
                                     alt="Avatar">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="panel panel-primary">
                                <div class="panel-heading"><p><strong>{{ PostEnter.topic }}</strong></p></div>
                                <div class="panel-body"><p>{{ PostEnter.body }}</p></div>
                                <div class="panel-footer">
                                    <a href="#ShowComment{{ PostEnter.topic }}" data-toggle="collapse">Comment <span
                                            class="badge">{{ PostEnter.numberOfComment }}</span></a>
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="collapse"
                                            data-target="#TakeComment{{ PostEnter.topic }}">Take a comment!
                                    </button>
                                    <div id="TakeComment{{ PostEnter.topic }}" class="collapse">
                                        <div class="panel panel-default">
                                            <div class="panel panel-default">
                                                <form action="/Comment/{{ UserInfo.UserId }}" method="post">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="CommentBody"
                                                                   style="float: left;font-size: 18px">Comment
                                                                : </label>
                                                            <textarea class="form-control" rows="3" id="CommentBody"
                                                                      name="CommentBody"></textarea>
                                                            <input type="hidden" name="token"
                                                                   value="{{ PostEnter.token }}">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-success btn-sm">
                                                                POST
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-sm"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ShowComment{{ PostEnter.topic }}" class="collapse">
                                        <div class="panel-group" id="accordion">
                                            {% for eachComment in PostEnter.comment %}
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                               href="#{{ eachComment.name }}">{{ eachComment.name }}</a>
                                                        </h4>
                                                    </div>
                                                    <div id="{{ eachComment.name }}" class="panel-collapse collapse in">
                                                        <div class="panel-body">{{ eachComment.body }}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

{% endblock %}