{% extends 'base.html' %}
{% load static %}
{% block primary %}
    <div class="container">
        <div class="row">
            {% for UserInfo in allInfoOfUserFind %}
                <a class="btn btn-info btn-lg"
                   href="/Profile/{{ SourceUserId.SourceID }}/GotoProfile/{{ UserInfo.DestinationUserId }}"><i
                        class="glyphicon glyphicon-user"></i> {{ UserInfo.name }} {{ UserInfo.family }}<br>
                    <img src="{% static 'Image/member-1.jpg' %}" class="img-circle" height="65" width="65" alt="Avatar"></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}